<% include ./partials/header %>



<div><%= blog.title %></div>

<span><%= blog.created.toDateString() %></span>


<div>
    <p><%- blog.body%></p>
</div>

<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>

<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
    <button class="ui red basic button">Delete</button>
</form>


<% include ./partials/footer %>